/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.claude
/signature
build-profile.json5
*.eps
*.log
*.bak
*.jpeg
package.json
package-lock.json
entry/.hvigor/
.remember/
